*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-display: century gothic;
}
.texto{
    margin-top:35px;
    text-align: center;
    color: white;
    font-size: 30px;
}
body{
     background: -webkit-linear-gradient(left, #25c481, #25b7c4);
     background: linear-gradient(to right, #25c481, #25b7c4);
}


#pantalla{
    background-color: #FFF;
    width: 90%;
    height: 50px;
    margin: 20px auto;
    line-height: 3em;
    border: 1px solid white;
}
#calculadora{
    border: 2px solid #FFF;
    background: rgba(255,255,255,0.2);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 30%;
    padding-bottom: 20px;
    min-width: 300px;
    border-radius: 5%;
}
.btn{
    margin-bottom: 10px;
    
    width: 100px;
    background: #EAD7C9; color: black;
    height: 30px;
    border: 1px solid #333;
        border-radius: 7%;

}
.btn:hover{
    opacity: 0.5;
    cursor: pointer;
}

input[type="button"]{
     outline: 0px;
}
.digito{
    width: 50px;
    height: 30px;
    background: rgba(255,255,255,0.2);
    color: #FFF;
    margin: 5px;
        border-radius: 10%;

    border: 1px solid white;
}
.digito:hover{
    background: rgba(255,255,255,0.5);
    cursor:pointer;
    color: black;
     outline: 0px;
}
.th{
    color: white;
    font-family: Century Gothic;
    margin: 50px;
    font-size: 50px;
    background: rgba(255,255,255,0.3);
}

